*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    background: rgb(145, 44, 128);
    display: flex;
    align-items: center;
    padding: 15px 0;
}
header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
header a{
    color: #fff;
}
#logo{
    margin: 0 auto; 
    font-size: 30px;
}
#menu li{
    padding: 10px;
}
#social-links li{
    padding:10px
}
#main{
    display: flex;
}
aside{
    flex:0 0 20vw;
    background-color: aliceblue;
    padding: 10px ;
}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul a{
    color:rgb(145, 44, 128);
    padding: 10px;
    display: block;
    border-bottom: 1px solid grey;
}
aside img{
    width: 100%;
}
article{
    padding: 10px;
}
.services-container{
    display: flex;
    justify-content: space-between;
}
.service-box{
    border: 1px solid #eee;
    flex-basis: 32%;
    max-width: 370px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.service-box h3{
    margin: 5px 0 10px;
}
.service-box img{
    width: 100%;
}
.call-to-action{
    align-self: flex-start;
    margin-top: auto;
}
.service-box p{
    margin: 0 0 10px;
}
.call-to-action a{
    background: grey;
    color: #fff;
    border: 2px solid transparent ;
    padding: 8px 13px;
    display: block;
}
.call-to-action a:hover{
    background: transparent;
    color:grey;
    border: 2px solid grey ;
}
footer{
    background: rgb(145, 44, 128);
    text-align: center;
    color: white;
    padding: 15px;
}